{% extends "xrowbootstrapBundle::pagelayout.html.twig" %}
{% block content %}

<table class="table table-bordered">
  <tr>
    <td><h1>Buttons & Typografie</h1></td>
    <td colspan="3" style="width: 200px;"><span>Fontsize > em</p><p style="color:red;"> Basis Pixelgröße: 16px </p></td>
  <tr>
    <td>
        <a href="#">Service-Links im Header: 18pt, color #999999 </a><br><br>
        <a href="#"><span class="glyphicon glyphicon-envelope"></span> wuv@vuservice.de </a>
        <a href="#"><span class="glyphicon glyphicon-earphone"></span> +49 061239238203 </a>
        <a href="#"><span class="glyphicon glyphicon-user"></span> Mein Konto</a>
    </td>
    <td><p>1.375em</p></td>
    <td><p>a</p></td>
  <td><p>Ok</p></td></tr>
  <tr>
    <td>        
        <h3>Hauptmenu: 20pt, #ffffff, bg-color: #000000, bg-color rollover: #666666</h3>
        <button type="button" class="btn btn-info">Kontakter</button>
        <button type="button" class="btn btn-info">Kontakter</button>
    </td>
    <td><p>1.375em</p></td>
    <td><p>.btn .btn-info</p></td>
    <td>
      <p>Ok</p>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <h2>Buttons groß, fontsize 22pt</h2>
    </td>
  </tr>
  <tr>
    <td>
      <label>
          <button type="button" class="btn btn-default btn-lg">Roboto Regular, 22pt, #666666 <span class="glyphicon glyphicon-chevron-right"></span></button>
          40px hoch / font-color: #666666 / bg-color: # eee
      </label>
    </td>
    <td>1.375em</td>
    <td><p>.btn .btn-info <br>.btn-lg</p></td>
    <td>
      <p>Ok (kein Roboto)</p>
    </td>
  </tr>
  <tr>
    <td>
      <label>
          <button type="button" class="btn btn-success btn-lg">Roboto Regular, 22pt, #ffffff <span class="glyphicon glyphicon-chevron-right"></span></button>
          40px hoch / font-color: #ffffff / bg-color: # 8ac203
      </label>
    </td>
    <td>1.375em</td>
    <td><p>.btn .btn-success <br>.btn-lg</p></td>
    <td>
      <p>Ok (kein Roboto)</p>
    </td>
  </tr>
  <tr>
    <td>
      <label>
          <button type="button" class="btn btn-primary btn-lg">Roboto Regular, 22pt, #ffffff <span class="glyphicon glyphicon-chevron-right"></span></button>
          40px hoch / font-color: #ffffff / bg-color: # 005899
      </label>
    </td>
    <td>1.375em</td>
    <td><p>.btn .btn-primary <br>.btn-lg</p></td>
    <td>
      <p>Ok (kein Roboto)</p>
    </td>
  </tr>
  <tr>
    <td>
      <label>
          <button type="button" class="btn btn-warning btn-lg">Roboto Regular, 22pt, #ffffff <span class="glyphicon glyphicon-chevron-right"></span></button>
          40px hoch / font-color: #ffffff / bg-color: # ee7f01
      </label>
    </td>
    <td>1.375em</td>
    <td><p>.btn .btn-warning <br>.btn-lg</p></td>
    <td>
      <p>Ok (kein Roboto)</p>
    </td>
  </tr>
  <tr>
    <td>
      <label>
          <button type="button" class="btn btn-danger btn-lg">Roboto Regular, 22pt, #ffffff <span class="glyphicon glyphicon-chevron-right"></span></button>
          40px hoch / font-color: #ffffff / bg-color: # af0f1e
      </label>
      <td>1.375em</td>
      <td><p>.btn .btn-danger <br>.btn-lg</p></td>
    </td>
    <td>
      <p>Ok (kein Roboto)</p>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <h2>Buttons klein, fontsize 16pt</h2>
    </td>
  </tr>
  <tr>
    <td>
      <label>
          <button type="button" class="btn btn-default btn-sm">Roboto Regular, 22pt, #666666 <span class="glyphicon glyphicon-chevron-right"></span></button>
          40px hoch / font-color: #666666 / bg-color: # eeeeee
      </label>
    </td>
    <td>1.125em</td>
    <td><p>.btn .btn-default <br>.btn-sm</p></td>
    <td>
      <p>Ok (kein Roboto)</p>
    </td>
  </tr>
  <tr>
    <td>
      <label>
          <button type="button" class="btn btn-success btn-sm">Roboto Regular, 22pt, #ffffff <span class="glyphicon glyphicon-chevron-right"></span></button>
          40px hoch / font-color: #ffffff / bg-color: # 8ac203
      </label>
    </td>
    <td>1.125em</td>
    <td><p>.btn .btn-success <br>.btn-sm</p></td>
    <td>
      <p>Ok (kein Roboto)</p>
    </td>
  </tr>
  <tr>
    <td>
      <label>
          <button type="button" class="btn btn-primary btn-sm">Roboto Regular, 22pt, #ffffff <span class="glyphicon glyphicon-chevron-right"></span></button>
          40px hoch / font-color: #ffffff / bg-color: # 005899
      </label>
    </td>
    <td>1.125em</td>
    <td><p>.btn .btn-primary<br>.btn-sm</p></td>
    <td>
      <p>Ok (kein Roboto)</p>
    </td>
  </tr>
  <tr>
    <td>
      <label>
          <button type="button" class="btn btn-warning btn-sm">Roboto Regular, 22pt, #ffffff <span class="glyphicon glyphicon-chevron-right"></span></button>
          40px hoch / font-color: #ffffff / bg-color: # ee7f01
      </label>
    </td>
    <td>1.125em</td>
    <td><p>.btn .btn-warning <br>.btn-sm</p></td>
    <td>
      <p>Ok (kein Roboto)</p>
    </td>
  </tr>
  <tr>
    <td>
      <label>
          <button type="button" class="btn btn-danger btn-sm">Roboto Regular, 22pt, #ffffff  <span class="glyphicon glyphicon-chevron-right"></span></button>
          40px hoch / font-color: #ffffff / bg-color: # af0f1e
      </label>
      <td>1.125em</td>
      <td><p>.btn .btn-danger <br>.btn-sm</p></td>
    </td>
    <td>
      <p>Ok (kein Roboto)</p>
    </td>
  </tr>
  <tr>
  <tr>
    <td colspan="4"><h2>Typografie</h2></td>
  <tr>
    <td><p class="h4"><kbd>Hauptmenu_20pt/24pt, Roboto Regular, #ffffff</kbd></p></td>
    <td><p>1.250em</p></td>
    <td><p>p</p></td>
    <td>
      <p></p>
    </td>
  </tr>
  <tr>
    <td><h2>Headline_Home_24pt/28pt Roboto Regular #333333</h2>
        <h2>Headline_gross_26pt/30pt Roboto Regular #333333</h1></td>
    <td><p>1.500em</p></td>
    <td><p>h2</p></td>
    <td>
      <p>Zusammengefasst</p>
    </td>
  </tr>
  <!-- <tr>
    <td><p>Fliesstext_Home_16pt/23pt Helvetica, Arial, sans #666666</p></td>
    <td><p>1.000em</p></td>
    <td><p>p</p></td>
    <td>
      <p></p>
    </td>
  </tr> -->
  <!-- <tr>
    <td><h1>Headline_gross_26pt/30pt Roboto Regular #333333</h1></td>
    <td><p>1.625em</p></td>
    <td><p>h2</p></td>
    <td>
      <p>h1</p>
    </td>
  </tr> -->
  <tr>
    <td><h2>Headline_klein_20pt/24pt #333333</h2></td>
    <td><p>1.500em</p></td>
    <td><p>h2</p></td>
    <td>
      <p></p>
    </td>
  </tr>
  <tr>
    <td><p>Fliesstext_Home_16pt/23pt Helvetica, Arial, sans #666666</p>
        <p>Fliesstext_gross_16pt/23pt Helvetica, Arial, sans #666666</p>
        <p>Fliesstext_gross_Bold_16pt/23pt Helvetica, Arial, sans #666666</p></td>
    <td><p>1.000em</p></td>
    <td><p>p</p></td>
    <td>
      <p>Zusammengefasst</p>
    </td>
  </tr>
  <!-- <tr>
    <td><p>Fliesstext_gross_Bold_16pt/23pt Helvetica, Arial, sans #666666</p></td>
    <td><p>1.000em</p></td>
    <td><p>p</p></td>
    <td>
      <p></p>
    </td>
  </tr>  -->
  <tr>
    <td><p class="small">Fliesstext_klein_14pt/18pt Helvetica, Arial, sans #666666</p>
        <p class="small">Fliesstext_klein_Bold_14pt/18pt Helvetica, Arial, sans #666666</p>
        <p class="small">Fliesstext_klein_Formular_14pt/18pt Helvetica, Arial, sans #333333</p></td>
    <td><p>0.875em</p></td>
    <td><p>p .small</p></td>
    <td>
      <p>Zusammengefasst</p>
      <p>Zu klein <br>(0.78em)</p>
    </td>
  </tr>
  <!-- <tr>
    <td><p class="small">Fliesstext_klein_Bold_14pt/18pt Helvetica, Arial, sans #666666</p></td>
    <td><p>0.875em</p></td>
    <td><p>p</p></td>
    <td>
      <p></p>
    </td>
  </tr> -->
  <!-- <tr>
    <td><p class="small">Fliesstext_klein_Formular_14pt/18pt Helvetica, Arial, sans #333333</p></td>
    <td><p>0.875em</p></td>
    <td><p>p</p></td>
    <td>
      <p></p>
    </td>
  </tr> -->
  <tr>
    <td><ul><li>Auflistung_14pt/22pt Helvetica, Arial, sans #666666</li></ul>
        <ul><li>Auflistung_Preis_20pt/24pt Helvetica, Arial, sans #000000</li></ul></td>
    <td><p>1.125em</p></td>
    <td><p>li</p></td>
    <td>
      <p>Zusammengefasst</p>
      <p>Nur #666666</p>
      <p>Sollte nicht < > <br>als p sein</p>
    </td>
  </tr>
  <!-- <tr>
    <td><ul><li>Auflistung_Preis_20pt/24pt Helvetica, Arial, sans #000000</li></ul></td>
    <td><p>1.250em</p></td>
    <td><p>li</p></td>
    <td>
      <p>p</p>
    </td>
  </tr> -->
  <tr>
    <td><h1 >Footer_Headline_30pt/34pt Helvetica, Arial, sans #333333</h1></td>
    <td><p>1.875em</p></td>
    <td><p>h1</p></td>
    <td>
      <p></p>
    </td>
  </tr>
  <tr>
    <td><a href="#">Footer_Link_30pt/34pt Helvetica, Arial, sans #666666</p></td>
    <td><p>0.875em</p></td>
    <td><p>a</p></td>
    <td>
      <p></p>
    </td>
  </tr>
</table>
{% endblock %}