{% extends "xrowbootstrapBundle::pagelayout.html.twig" %}

{% block content %}
<div class="content-view-full">
    <div class="class-landing-page">

Sie befinden sich auf der Startseite

    </div>
</div>
{% endblock %}
